{
  "presets": ["next/babel"],
  "plugins": [
    [
      "babel-plugin-root-import",
      {
        "rootPathPrefix": "~"
      }
    ],
    [
      "import",
      {
        "libraryName": "antd",
        "libraryDirectory": "es",
        "style": "css"
      }
    ],
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": false,
        "preprocess": false,
        "minify": true
      }
    ]
  ]
}
