<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charSet="utf-8" class="next-head" />
    <title class="next-head">Exception Occured</title>
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="description" content="Docker7.7.9" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/nprogress.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/customcss/blockui.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/customcss/Typeahead.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/customcss/react-notification-component.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/cs/style.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/customcss/fixed.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/customcss/responsive.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/customcss/react-datepicker.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/cs/datatableDetail.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/cs/dayPicker.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/customcss/field.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/customcss/sweetalert.css"
    />
  </head>
  <body>
    <div id="__next">
      <div class="jsx-2731759983">
        <link
          rel="stylesheet"
          href="/static/cs/login.css"
          class="jsx-2731759983"
        />
        <div
          id="particles-js"
          class="jsx-2731759983 loginpage reset-password-page bg-gray"
        >
          <div class="jsx-2731759983 loginpage__wrap loginpage__wrap--bg-2">
            <div class="jsx-2731759983 reset-password-page__header pt-3">
              <div
                class="jsx-2731759983 row w-100 m-0 p-3 justify-content-between align-items-center"
              >
                <div class="jsx-2731759983 col-auto">
                  <div class="jsx-2731759983 logo mb-2 mb-md-2">
                    <img
                      src="/static/img/logo/logo_2.png"
                      class="jsx-2731759983"
                    />
                  </div>
                </div>
                <div class="jsx-2731759983 col-auto">
                  <a href="/" class="jsx-2731759983 purple text-bold">
                    <i class="jsx-2731759983 icon icon-arrow_small_left"></i>
                    Back to Home</a
                  >
                </div>
              </div>
            </div>
            <div class="jsx-2731759983 container d-flex h-100">
              <div
                class="jsx-2731759983 row w-100 m-0 justify-content-center align-items-center align-content-center"
              >
                <div
                  class="jsx-2731759983 col-12 col-lg-6 col-lg-5 pb-4 pb-md-0 pt-4 pt-md-0"
                >
                  <div
                    class="jsx-2731759983 row justify-content-center text-center text-md-center text-lg-left"
                  >
                    <div
                      class="jsx-2731759983 col-12 col-md-12 col-lg-12 mb-0 mb-md-5 mb-lg-0"
                    >
                      <h1 class="jsx-2731759983 gray-1 mb-3 mb-lg-4">
                        <%= statusCode %> <%= title %> 
                      </h1>
                      <p class="jsx-2731759983 mb-0 font-light">
                        Please contact your administrator for assistance.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="jsx-2731759983 col-12 col-lg-6 col-lg-5">
                  <div
                    class="jsx-2731759983 row justify-content-center text-lg-left"
                  >
                    <div class="jsx-2731759983 col-12 col-md-8 col-lg-12">
                      <div class="jsx-2731759983 box text-center">
                        <div class="jsx-2731759983 icon-alert mb-3 mt-2">
                          <i
                            aria-hidden="true"
                            class="jsx-2731759983 fa fa-exclamation-triangle"
                          ></i>
                        </div>
                        <p class="jsx-2731759983 gray-2 font-light pt-2 pb-2">
                          <%= detail %>
                        </p>
                        <div
                          class="jsx-2731759983 row mt-4 justify-content-center"
                        >
                          <div class="jsx-2731759983 col-12 col-md-6">
                            <a
                              href="/"
                              id="btnSubmit"
                              class="jsx-2731759983 btn w-100"
                              >Home</a
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/modernizr.js"></script>
    <script src="/static/js/app.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.10.3/babel.min.js"></script>
  </body>
</html>
