input[type="checkbox"].checkbox-search {
  width: 16px;
  height: 16px;
  border: 2px solid #b83193;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  position: relative;
  margin-right: 10px;
}
input[type="checkbox"].checkbox-search:checked {
  background-color: #b83193;
}
input[type="checkbox"].checkbox-search:checked::after {
  width: 16px;
  height: 16px;
  position: absolute;
  top: -2px;
  left: -2px;
  text-align: center;
  content: "\f00c";
  font-family: "FontAwesome";
  color: #fff;
  font-size: 12px;
  line-height: 16px;
}
input[type="checkbox"].checkbox-search:disabled {
  border-color: #d8d8d8;
  background-color: #f1f3f6;
}
.react-tiny-popover-container {
  overflow: visible !important;
}
